<%- include ("./partials/header") %>
<%- include ("./nav") %>


<div class="container generator">
  <h1 class="title">Password Generator</h1>
  <h3 class="password-display" id="passwordDisplay">password</h3>
  <form id="passwordGeneratorForm" class="form">
    <label for="amount">Number Of Characters</label>
    <div class="character-amount-container">
      <input type="range" min="1" max="50" value="10" id="range">
      <input class="number-input" type="number" min="1" max="50" value="10" id="amount">
    </div>

    <label for="includeUppercase">Include Uppercase</label>
    <input type="checkbox" id="includeUppercase">

    <label for="includeNumbers">Include Numbers</label>
    <input type="checkbox" id="includeNumbers">

    <label for="includeSymbols">Include Symbols</label>
    <input type="checkbox" id="includeSymbols">

    <button type="submit" class="btn btn-primary generator-btn">Generate Password</button>
  </form>
</div>

<script>
  const range = document.getElementById('range')
const amount = document.getElementById('amount')
const includeUppercaseElement = document.getElementById('includeUppercase')
const includeNumbersElement = document.getElementById('includeNumbers')
const includeSymbolsElement = document.getElementById('includeSymbols')
const form = document.getElementById('passwordGeneratorForm')
const passwordDisplay = document.getElementById('passwordDisplay')

const UPPERCASE_CHAR_CODES = arrayFromLowToHigh(65, 90)
const LOWERCASE_CHAR_CODES = arrayFromLowToHigh(97, 122)
const NUMBER_CHAR_CODES = arrayFromLowToHigh(48, 57)
const SYMBOL_CHAR_CODES = arrayFromLowToHigh(33, 47).concat(
  arrayFromLowToHigh(58, 64)
).concat(
  arrayFromLowToHigh(91, 96)
).concat(
  arrayFromLowToHigh(123, 126)
)

amount.addEventListener('input', syncCharacterAmount)
range.addEventListener('input', syncCharacterAmount)

form.addEventListener('submit', e => {
  e.preventDefault()
  const characterAmount = amount.value
  const includeUppercase = includeUppercaseElement.checked
  const includeNumbers = includeNumbersElement.checked
  const includeSymbols = includeSymbolsElement.checked
  const password = generatePassword(characterAmount, includeUppercase, includeNumbers, includeSymbols)
  passwordDisplay.innerText = password
})

function generatePassword(characterAmount, includeUppercase, includeNumbers, includeSymbols) {
  let charCodes = LOWERCASE_CHAR_CODES
  if (includeUppercase) charCodes = charCodes.concat(UPPERCASE_CHAR_CODES)
  if (includeSymbols) charCodes = charCodes.concat(SYMBOL_CHAR_CODES)
  if (includeNumbers) charCodes = charCodes.concat(NUMBER_CHAR_CODES)
  
  const passwordCharacters = []
  for (let i = 0; i < characterAmount; i++) {
    const characterCode = charCodes[Math.floor(Math.random() * charCodes.length)]
    passwordCharacters.push(String.fromCharCode(characterCode))
  }
  return passwordCharacters.join('')
}

function arrayFromLowToHigh(low, high) {
  const array = []
  for (let i = low; i <= high; i++) {
    array.push(i)
  }
  return array
}

function syncCharacterAmount(e) {
  const value = e.target.value
  amount.value = value
  range.value = value
}
</script>


<%- include ("./partials/footer") %>